body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#keuzes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#keuzes > img {
    flex: 30% 1 0;
}